@import '../../utilidades/stylesGeneral.css';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 82vh;
    background: linear-gradient(-135deg, #fff, var(--COLOR_DOS));
}
.container-login h2{
    text-align: center;
    margin-bottom: 30px;
}
.wrapper{
    width: 450px;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.wrapper .input-data{
    height: 40px;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.wrapper .input-data input{
    outline: none;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
}
.wrapper .input-data input:focus ~ label,
.wrapper .input-data input:valid ~ label{
    transform: translateY(-20px);
    font-size: 15px;
    color: var(--COLOR_UNO);
}
.wrapper .input-data label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    bottom: 10px;
    left: 0;
    color: gray;
    pointer-events: none;
    transition: all 0.3s ease;
}
.wrapper .input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}
.wrapper .input-data .underline:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: var(--COLOR_UNO);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.wrapper .input-data input:focus ~ .underline:before,
.wrapper .input-data input:valid ~ .underline:before{
    transform: scaleX(1);
}
