:root{
    --COLOR_UNO: #021855;
    --COLOR_DOS: #01BAD9;
    --COLOR_TRES: #00EBFE;
    --COLOR_CUATRO: #CF2BD0;     
}

.subtitulos{
    padding:  0 25px;
    width: 90%;
    height: 70px;
    line-height: 70px;
    border:1px solid var(--COLOR_CUATRO);
    border-radius: 25px;
    margin: 40px auto;
    font-size: 35px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}