@import "../../utilidades/stylesGeneral.css";

.card-store{
    text-decoration: none;
}
.container-card{
    padding-bottom: 10px;
    width: 400px;
    margin: 10px;
    min-height: 150px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #ccc;
}
.container-card .container-img{
    width: 100%;
    height: 130px;
    background: linear-gradient(0deg,#fff, var(--COLOR_UNO));
    display: block;
    border-radius: 25px;
    margin: 0 auto;
}
.container-card h2{
    text-align: center;
    padding: 10px;
    color: #333;
}
.container-card h3{
    text-align: center;
    color: rgb(155, 147, 147);
}