*{
    box-sizing: border-box;
}
h1{
    width: 30%;
    color: #fff;
    padding-bottom: 20px;
    padding-left: 10px;
    font-size: 35px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    width: 100%;
    height: auto;
    padding: 15px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 0 20px;
}

nav .item-nav{
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
.active-item-nav{
    border-bottom: 1px solid #fff;
}
.group-nav{
    width: 100%;
}