@import '../../utilidades/stylesGeneral.css';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logo-marca{
    width: 30%;
    color: #fff;
    padding-left: 10px;
    font-size: 45px;
    text-decoration: none;
}

nav{
    z-index: 1;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(-50deg, rgb(70, 70, 92), var(--COLOR_UNO));
    width: 100%;
    height: auto;
    padding: 15px;
    margin-bottom: 20px;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    list-style: none;
}

nav .item-nav{
    font-size: 20px;
    color: var(--COLOR_CUATRO);
    text-decoration: none;
    padding: 10px;
}
.active-item-nav{
    border-bottom: 1px solid #fff;
}
.group-nav{
    width: 100%;
}
.log-in{
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 40px;
    padding: 10px 15px;
    text-align: center;
}